@model IEnumerable<MundoMascotaRosario.Models.Producto>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive center-block" width="300" height="300" src="~/Content/Img/dog-computer.jpg" alt="Imagen de un perro usando notebook"/>
        </div>

        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h4 class="text-success">Busca los mejores productos para tu mascota</h4>
                            <h5 class="text-success">En cualquier momento, desde cualquier dispositivo</h5>
                        </div>
                        <div>
                            <div class="col-xs-12">
                                <div class="well">
                                    <div id="busqueda" class="input-group">
                                        @Html.TextBox("busqueda", null, new {@class = "form-control", style="display:inline", @placeholder = "Animal, Marca o Producto"})
                                        <i class="input-group-btn">
                                            <button type="submit" value="Buscar" class="btn btn-success">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </i>
                                    </div>

                                </div>
                                <h5 class="text-info">Ejemplo: "Perro", "Eukanuba", "Correa"</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



        <div class="col-md-4">
            <img class="img-responsive center-block" width="300" height="300" src="~/Content/Img/dog-computer2.jpg" alt="Imagen de un perro usando notebook" />
        </div>
    </div>
</div>

    @foreach (var producto in Model)
    {
        <table class="col-md-3 table-bordered table-responsive">
            <tr>
                <td>
                    <div class="center">
                        <a href="../Productos/Details/@producto.ProductoId"><img class="img-responsive center-block" height="160" width="160" src="@Url.Content(producto.Imagen)" alt="@producto.Descripcion"></a>
                    </div>
                    <div class="text-center text">
                        @Html.ActionLink(producto.Marca, "BuscarProductos", "Productos", new { busqueda = producto.Marca }, null)
                    </div>
                    <div class="center-block text-center">
                        @Html.ActionLink(producto.Descripcion, "DetalleDeProducto", "Productos", new { id = producto.ProductoId }, null)
                    </div>
                    <div>
                        <div class="col-md-6 text-center center lead">
                            $ @producto.PrecioDecimal
                        </div>
                        @Html.ActionLink("Comprar", "DetalleDeProducto", "Productos",new { id=producto.ProductoId},new {@class="col-md-6 btn btn-success center-block"})
                    </div>
                </td>
            </tr>

        </table>

    }
