@using System.Diagnostics.Eventing.Reader
@using MundoMascotaRosario.Models
@using MundoMascotaRosario.Models.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand"><i class="fa fa-paw"></i> Mundo Mascota Rosario</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right" |>
                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        @{
                            var carrito = Session["carrito"] as CarritoDeCompra;
                            if (carrito != null)
                            {
                                var cantidad = carrito.LineasDeProducto.Count;
                                <li>@Html.ActionLink("Carrito(" + cantidad + ")", "VerCarrito", "CarritoDeCompras") </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Carrito", "VerCarrito", "CarritoDeCompras") </li>
                            }

                        }*@

                    @{
                        var menu = Session["Menu"] as MenuVM;
                        if (menu != null)
                        {
                            foreach (var padre in menu.PadresVm)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="False">@padre.TextoMenu<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @foreach (var hijo in padre.HijosVm)
                                        {

                                            <li>
                                                <a href="@hijo.Url">@hijo.TextoSubMenu</a>
                                            </li>

                                        }
                                    </ul>

                                </li>


                            }
                        }




                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="background-color: #EE0019; cursor: pointer;" class="dropdown">
                            <a href="#" class="dropdown-toggle" id="menu_font" data-toggle="dropdown">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                @User.Identity.Name
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>@Html.ActionLink("Salir", "LogOut", "Usuarios")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="mnuLogin">
                            <a class="page-scroll" href="@Url.Content("~/Usuarios/LogIn")" style="background-color: #EE0019;">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mundo Mascota Rosario</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
